<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content=""><meta name="author" content="">
	<title>University</title>

    <link rel="shortcut icon" href="/ico/favicon.png">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" >
    <link href="/css/tem/font-awesome.min.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css" media="screen">
	<link rel="stylesheet" href="/css/tem/gateway/style.css">

    <style>

    </style>

</head>
<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse" style="vertical-align: middle !important;">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/tem_gateway" style="padding-top: 0;height: 75%">
					<img style="height:55%" src="/img/gateway/logo.png" alt="Techro HTML5 template">
                </a>
			</div>
			<div class="navbar-collapse collapse" style="vertical-align: middle !important;">
				<ul class="nav navbar-nav pull-right mainNav" style="margin-top: 1.8%;">
					<li ><a href="/tem_gateway">首页</a></li>
					<li><a href="">学校概况</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">机构设置<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">教学单位</a></li>
                            <li><a href="#">党政部门</a></li>
                            <li><a href="#">教辅单位</a></li>
                            <li><a href="#">学术组织</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">人才培养<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">本科教育</a></li>
                            <li><a href="#">专科教育</a></li>
                            <li><a href="#">继续教育</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">招生就业<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">新生报到</a></li>
                            <li><a href="#">招生网</a></li>
                            <li><a href="#">就业网</a></li>
                        </ul>
                    </li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">校园文化<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">团委</a></li>
							<li><a href="#">工会</a></li>
							<li><a href="#">学生会</a></li>
							<li><a href="#">学生社团</a></li>
						</ul>
					</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">公共服务<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">图书馆</a></li>
                            <li><a href="#">网络服务</a></li>
                            <li><a href="#">后勤服务</a></li>
                            <li><a href="#">校历</a></li>
                        </ul>
                    </li>

				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
	<!-- /.navbar -->

	<!-- Header -->
	<header id="head">

            <div id="myCarousel" class="carousel slide" style="height: 100%">
                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner" style="height: 100%">
                    <div class="item active" style="height: 100%">
                        <img src="/img/gateway/slides/img1.jpg" alt="First slide" style="width: 100%;height:auto">
                    </div>
                    <div class="item" style="height: 100%">
                        <img src="/img/gateway/slides/img2.jpg" alt="Second slide" style="width: 100%;height:auto">
                    </div>
                    <div class="item" style="height: 100%">
                        <img src="/img/gateway/slides/img3.jpg" alt="Third slide" style="width: 100%;height:auto">
                    </div>
                </div>
                <!-- 轮播（Carousel）导航 -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
	</header>
	<!-- /Header -->

    <section class="news-box top-margin">
        <div class="container">
            <h2><span>学校要闻</span></h2>
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <figure><img src="/img/gateway/news2.jpg" alt=""></figure>
                            <div class="caption maxheight2">
                                <div class="box_inner">
                                    <div class="box">
                                        <p class="title"><h5>学术大会</h5></p>
                                        <p>本校第N届教学研讨会，在2018年9月15日于学府礼堂举行，共同探讨如何为学生提供优质教学服务，为学生步入社会提供有力保障。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <div class="panel panel-default">
                                <div class="panel-heading">工作新闻</div>
                                <ul class="list-group">
                                    <li class="list-group-item justify-content-between"><a>我校召开本科教学工作审核评估…</a><span class="badge badge-default badge-pill">2018.09.30</span></li>
                                    <li class="list-group-item justify-content-between"><a>省高校党建和意识形态工作专项…</a><span class="badge badge-default badge-pill">2018.09.12</span></li>
                                    <li class="list-group-item justify-content-between"><a>学校纪委对新修订的《中国共产…</a><span class="badge badge-default badge-pill">2018.09.10</span></li>
                                    <li class="list-group-item justify-content-between"><a>学校与廊坊市体育局签订促进体…</a><span class="badge badge-default badge-pill">2018.07.11</span></li>
                                    <li class="list-group-item justify-content-between"><a>廊坊师范学院音乐学院助力河北…</a><span class="badge badge-default badge-pill">2018.07.03</span></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <div class="panel panel-default">
                                <div class="panel-heading">学生新闻</div>
                                <ul class="list-group">
                                    <li class="list-group-item justify-content-between"><a>我校召开本科教学工作审核评估…</a><span class="badge badge-default badge-pill">2018.09.30</span></li>
                                    <li class="list-group-item justify-content-between"><a>省高校党建和意识形态工作专项…</a><span class="badge badge-default badge-pill">2018.09.12</span></li>
                                    <li class="list-group-item justify-content-between"><a>学校纪委对新修订的《中国共产…</a><span class="badge badge-default badge-pill">2018.09.10</span></li>
                                    <li class="list-group-item justify-content-between"><a>学校与廊坊市体育局签订促进体…</a><span class="badge badge-default badge-pill">2018.07.11</span></li>
                                    <li class="list-group-item justify-content-between"><a>廊坊师范学院音乐学院助力河北…</a><span class="badge badge-default badge-pill">2018.07.03</span></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  <div class="container">
    <div class="row">
					<div class="col-md-3">
						<div class="grey-box-icon">
							<div class="icon-box-top grey-box-icon-pos">
								<img src="/img/gateway/3.png" alt="" />
							</div><!--icon box top -->
							<h4>峥嵘历史</h4>
							<p>XX大学（Peking University）简称“X大”，诞生于XXXX年，初名XX大学堂，是中国近代国立大学，也是最早以“XX”之名创办的学校。</p>
     						<p><a href="#"><em>了解更多</em></a></p>
						</div><!--grey box -->
					</div><!--/span3-->
					<div class="col-md-3">
						<div class="grey-box-icon">
							<div class="icon-box-top grey-box-icon-pos">
								<img src="/img/gateway/2.png" alt="" />
							</div><!--icon box top -->
							<h4>教坛耕耘</h4>
							<p>人力资源是一个组织赖以发展的根本基础和内在动力，大学作为一种特殊的机构，其人力资源构成也有其特殊性，表现在高端人才密集</p>
     						<p><a href="#"><em>了解更多</em></a></p>
						</div><!--grey box -->
					</div><!--/span3-->
					<div class="col-md-3">
						<div class="grey-box-icon">
							<div class="icon-box-top grey-box-icon-pos">
								<img src="/img/gateway/1.png" alt="" />
							</div><!--icon box top -->
							<h4>菁菁学子</h4>
							<p>学校是以德智体美劳全面发展为教育目标的，文化艺术所承载的是素质教育的重要组成，培养欣赏美的能力，促进发展创造美的能力</p>
     						<p><a href="#"><em>了解更多</em></a></p>
						</div><!--grey box -->
					</div><!--/span3-->
					<div class="col-md-3">
						<div class="grey-box-icon">
							<div class="icon-box-top grey-box-icon-pos">
								<img src="/img/gateway/4.png" alt="" />
							</div><!--icon box top -->
							<h4>慕课风向</h4>
							<p>慕课（MOOC），即大规模开放在线课,英文直译“大规模开放的在线课程”，是新近涌现出来的一种在线课程开发模式。</p>
     						<p><a href="#"><em>了解更多</em></a></p>
						</div><!--grey box -->
					</div><!--/span3-->
				</div>
    </div>

   
  
	
      <section class="container">
      <div class="row" style="padding-top: 5px;">
      	<div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">公告通知</div>
                <ul class="list-group">
                    <li class="list-group-item justify-content-between"><a>我校召开本科教学工作审核评估…</a><span class="badge badge-default badge-pill">2018.09.30</span></li>
                    <li class="list-group-item justify-content-between"><a>省高校党建和意识形态工作专项…</a><span class="badge badge-default badge-pill">2018.09.12</span></li>
                    <li class="list-group-item justify-content-between"><a>学校纪委对新修订的《中国共产…</a><span class="badge badge-default badge-pill">2018.09.10</span></li>
                    <li class="list-group-item justify-content-between"><a>学校与廊坊市体育局签订促进体…</a><span class="badge badge-default badge-pill">2018.07.11</span></li>
                    <li class="list-group-item justify-content-between"><a>廊坊师范学院音乐学院助力河北…</a><span class="badge badge-default badge-pill">2018.07.03</span></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">学术活动</div>
                <ul class="list-group">
                    <li class="list-group-item justify-content-between"><a>我校召开本科教学工作审核评估…</a><span class="badge badge-default badge-pill">2018.09.30</span></li>
                    <li class="list-group-item justify-content-between"><a>省高校党建和意识形态工作专项…</a><span class="badge badge-default badge-pill">2018.09.12</span></li>
                    <li class="list-group-item justify-content-between"><a>学校纪委对新修订的《中国共产…</a><span class="badge badge-default badge-pill">2018.09.10</span></li>
                    <li class="list-group-item justify-content-between"><a>学校与廊坊市体育局签订促进体…</a><span class="badge badge-default badge-pill">2018.07.11</span></li>
                    <li class="list-group-item justify-content-between"><a>廊坊师范学院音乐学院助力河北…</a><span class="badge badge-default badge-pill">2018.07.03</span></li>
                </ul>
            </div>
        </div>
      </div>
      </section>
      
    	 
    <footer id="footer">
 
		<div class="container">
   <div class="row">
  <div class="footerbottom">
    <div class="col-md-3 col-sm-6">
      <div class="footerwidget">
        <h4>
          大学生活
        </h4>
        <div class="menu-course">
          <ul class="menu">
            <li><a href="#">
                院系设置
              </a>
            </li>
            <li><a href="#">
                教育教学
              </a>
            </li>
            <li><a href="#">
                科学研究
              </a>
            </li>
            <li><a href="#">
               体育竞技
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="footerwidget">
        <h4>
          学校门户
        </h4>
        <div class="menu-course">
          <ul class="menu">
            <li> <a href="#">
                研究生
            </a>
            </li>
            <li><a href="#">
                本科生
              </a>
            </li>
            <li><a href="#">
                教职工
              </a>
            </li>
            <li><a href="#">
                校友
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="footerwidget">
        <h4>
          快速链接
        </h4>
        <div class="menu-course">
          <ul class="menu">
            <li><a href="#">
                教学计划
              </a>
            </li>
            <li> <a href="#">
                党政关系
              </a>
            </li>
            <li><a href="#">
                院长信息
              </a>
            </li>
            <li>
              <a href="#">
                投诉建议
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6"> 
            	<div class="footerwidget"> 
                         <h4>联系我们</h4>
                        <p>欢迎您来参观指导，留下您宝贵的足迹。</p>
            <div class="contact-info"> 
            <i class="fa fa-map-marker"></i> 北京 海淀 中关村 123号<br>
            <i class="fa fa-phone"></i>+00 123 5468 2342 <br>
             <i class="fa fa-envelope-o"></i> hi@edu.com</div>
                </div><!-- end widget -->
    </div>
  </div>
</div>
			<div class="social text-center">
				<a href="#"><i class="fa fa-qq"></i></a>
				<a href="#"><i class="fa fa-weixin"></i></a>
				<a href="#"><i class="fa fa-envelope"></i></a>
				<a href="#"><i class="fa fa-weibo"></i></a>
				<a href="#"><i class="fa fa-mapmaker"></i></a>
			</div>

			<div class="clear"></div>
			<!--CLEAR FLOATS-->
		</div>
		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-6 panel">
						<div class="panel-body">
							<p class="simplenav">
								<a href="#"></a> |
                            </p>
						</div>
					</div>

					<div class="col-md-6 panel">
						<div class="panel-body">
							<p class="text-right">
                                Copyright &copy; 2000-2020.XHINFO University
							</p>
						</div>
					</div>

				</div>
				<!-- /row of panels -->
			</div>
		</div>
	</footer>

	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="/js/gateway/modernizr-latest.js"></script>
	<script type='text/javascript' src='/js/jquery-1.11.1.min.js'></script>
    <script type='text/javascript' src='/js/gateway/fancybox/jquery.fancybox.pack.js'></script>
    <script type='text/javascript' src='/js/jquery.easing.1.3.js'></script>

    <script src="/bootstrap/js/bootstrap.min.js"></script>
	<script src="/js/gateway/custom.js"></script>

    <script>
        $(function(){
            $("#myCarousel").carousel({
                interval: 5000
            });
        })
    </script>






    
</body>
</html>
